/* General body and layout styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    
    padding: 0;
    background-color: #fcfbf3;
}

/* Navbar styles */
.navbar {
    background-color: #343a40;
}

.navbar-nav > li {
    margin: 0 15px;
}

.navbar-nav > li > a {
    color: white;
}

.navbar-nav > li > a:hover {
    color: #d8e4fa;
}
.dropdown-menu {
    border-radius: 10px;
}

.form-control {
    margin-bottom: 10px;
}
/* Header (Hero section) styles */
header {
    background: linear-gradient(to right, #00d746, #005a4e);
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.hero {
    padding: 100px 20px;
    margin: 0 auto;
    text-align: left;
    color: black;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70vw;
    margin: 0 auto;
}

.hero h2, .hero h1 {
    margin: 0;
    letter-spacing: -2.17px;
    color: black;
}

.hero h2 {
    font-size: 70px;
    font-weight: 300;
}

.hero h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 1.1em;
    text-transform: capitalize;
}

.hero form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.hero input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 400px;
    height: 40px;
    box-sizing: border-box;
    margin-right: 10px;
}

.hero button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    height: 40px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* Categories Section */
.cat-header {
    display: flex;
    background-color: #f1f1e8;
    justify-content: center;
    font-size: 1.3rem;
    padding: 0.4%;
    margin: 0;
}

.custom-card-container-section {
    padding: 2rem 0;
    background-color: #fcfbf3;
    margin-bottom: 2rem;
    margin-top: 2rem;
 
}

.custom-card-container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 cards per row */
    gap: 1rem; /* Space between cards */
    width: 100%; /* Make sure it adjusts to the screen size */
    max-width: calc(6 * 270px + 5 * 1rem); /* Adjusted max-width to accommodate wider cards and spacing */
    padding: 0 1rem; /* Add padding to avoid touching edges */
    margin: 0 auto; /* Center the container */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background-color: #fcfbf3;
}

.custom-card {
    height: 130px; /* Increased height for better visual appeal */
    width: 100%; /* Let the card fill available space */
    max-width: 270px; /* Increased max-width to make cards wider */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background: #ffffff;
    padding: 1rem; /* Adjusted padding for better spacing */
    color: rgb(107, 114, 128);
    border: 1px solid #000000;
    box-shadow: 0px 4px 6px rgba(100, 172, 5, 0.1);
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto; /* Center the card horizontally within its grid cell */
    
}


.custom-card:hover {
    background-color: #f4f4f4;
    transform: translateY(-8px); /* Increased movement on hover */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.content {
    margin-left: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.centered-content {
    text-align: center;
}

.title {
    font-size: 0.875rem;
    font-weight: bold;
    color: black;
}
/* Modal */
.modal-body{
    margin-bottom: 1rem;
}
.modal-description{
    margin-bottom: 1rem;
}

/* View All Button */
.button-placement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cattwo-button {
    height: 40px;
    background: white;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    cursor: pointer;
    color: black;
    z-index: 1;
}

.cattwo-button:before,
.cattwo-button:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 140%;
    height: 180%;
    border-radius: 50%;
    display: block;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.cattwo-button:before {
    top: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

.cattwo-button:after {
    top: 180%;
    background-color: #39bda7;
}

.cattwo-button:hover {
    color: #ffffff;
    border: 1px solid #005a4e;
}

.cattwo-button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: scaleX(0.8);
}

.cattwo-button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: scaleX(0.8);
}

/*Main content*/

.cards-container {
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap to the next line if the screen is too narrow */
    gap: 1rem; /* Adjusts space between cards */
    justify-content: space-between; /* Distributes cards evenly across the row */
    margin-bottom: 2rem;
}
.card {
    flex: 1 1 calc(25% - 1rem); /* Makes each card take up 25% of the row with space between them */
    max-width: 18rem; /* Ensures the cards have a fixed maximum width */
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 1rem); /* On smaller screens, make cards take up 50% of the row */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; /* On very small screens, make cards take up 100% of the row */
    }
}
#product-cards {
    width: 80vw; /* 80% of the viewport width */
    margin: 0 auto; /* Center the section horizontally */
}
.card-img-container {
    position: relative;
}
.card-body {
    padding: 1rem; /* Adjust padding as needed */
}

.card-title {
    margin-bottom: 0.1rem; /* Adjust margin as needed */
}

.card-text {
    margin-top: 1rem; /* Remove top margin */
    margin-bottom: 1rem; /* Adjust bottom margin */
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-img-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 1, 0.7); /* Optional: Adds a semi-transparent background */
    color: #ffffff; /* Adjust text color if needed */
    padding: 10px;
    border-radius: 0 0 0 5px; /* Optional: Rounded bottom-left corner */
}


/* About Section */
#about {
    display: flex;
    width: 80vw;
    margin-top: 3rem;
}

/* Footer styles */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin: 0 10px;
}

.social-media a {
    color: white;
    text-decoration: none;
}
.main-section{
    margin-top: 2rem;
    background-color: #fcfbf3;
    margin-bottom: 2rem;
}